.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}